<html>
	<head>
    <title>{{ COMPANY_NAME }} - {{ TOUR_NAME }} Enquiry</title>
	</head>
	<body>
    There is a new booking for {{ TOUR_NAME }}<br />
    Go to: <a href="https://booking.beiwei55.co.uk/">http://booking.beiwei55.co.uk/</a><br />
    Summary:<br />
		TOUR_NAME={{ TOUR_NAME }}<br />
		NAME={{ NAME }} <br />
		PERSON_EMAIL={{ PERSON_EMAIL }} <br />
		WECHAT_ID={{ WECHAT_ID }} <br />
		PERSON_PHONE={{ PERSON_PHONE }} <br />
		DESIRED_TOUR_START_DATE={{ DESIRED_TOUR_START_DATE }} <br />
		PREFERRED_PAYMENT_METHOD={{ PREFERRED_PAYMENT_METHOD }} <br />
		ADDITIONAL_COMMENTS={{ ADDITIONAL_COMMENTS }}<br />
		NUMBER_OF_PEOPLE={{ NUMBER_OF_PEOPLE }}<br />
		TOTAL_COST={{ TOTAL_COST }} <br />
	</body>
</html>
