{% extends "layout.html" %}
{% block title %}Tour Costs Sheet Admin Panel{% endblock %}

{% block content %}

    <h1 class="mt-3 mb-4 text-center display-6">Tours</h1>

    <ul class="list-group">
        {% for tour in tours %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ tour['name'] }}
                <a href="{{ url_for('edit_tour', tour_code=tour['tour_code']) }}" class="btn btn-sm btn-primary">Edit</a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
 